{% extends "network/layout.html" %}
{% block body %}
    {% if userPage == user %}
        <h2>You</h2>
    {% else %}
        <h2>{{ userPage }}</h2>
    {% endif %}
    <div class='user-info'>
        <div>
            <p class='follower-info'>Followers: {{ userPage.get_followers }}, Following: {{ userPage.get_following }}</p>
        </div>
        {% if userPage.id is not user.id and user.is_authenticated %}
            <form action="{% url 'user' userPage.id %}" method="POST">
                {% csrf_token %}
                {% if not following %}
                    <input type='submit' value='follow' class="btn btn-outline-primary">
                {% else %}
                    <input type='submit' value='unfollow' class="btn btn-primary">
                {% endif %}
            </form> 
        {% endif %}
    </div>
    {% include "network/posts.html" %}
{% endblock %}